body{
    color: white;

}


.select{
    margin: 2%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.paginado{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.allGames{
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 4%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}




.pagButton{
    color: white;
    font-size: 15px;
    font-weight: bold;
    
    background-color: transparent;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 40px;

    border-width: 1px;
    border-color: white;
    border-radius: 3px;
        
    cursor: pointer;
}

.pagButton:focus {     
    background-color:rgba(138, 138, 121, 0.356);    
}

.pagButton:hover {     
    background-color:rgba(138, 138, 121, 0.356);    
}

.selectButton{
    color: white;
    font-size: 15px;
    font-weight: bold;
    
    background-color: transparent;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 40px;

    border-width: 1px;
    border-color: white;
    border-radius: 3px;
        
    cursor: pointer;
}

.recharge{
    font-size: 20px;
    font-weight: bold;
    color: aqua;
    
    background-color: transparent;
    padding: 10px;
    padding-left: 0px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 0px;

    border-width: 0px;
           
    cursor: pointer;
}

.selectButton  option {
    font-weight:normal;
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }

.notFound{
    width: 100%;
    background-color: rgba(47, 44, 44, 0.65);
}  